<section class="container home-layout">
  <div class="home-left">
    <div class="about-section">
      <div class="about-content">
        {{ partial "home/avatar.html" . }}
        <div class="about-social">
          {{ partial "home/social.html" . }}
        </div>
      </div>
    </div>
    
    <div class="profile-section">
      <h2 class="section-title">Profile</h2>
      <div class="profile-info">
        <p class="profile-description">
          Engineer and co-founder of <a href="https://aduki.org">aduki, Inc</a>. Writing mostly in <a href="https://rust-lang.org">Rust</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a>, <a href="https://golang.org">Go</a>, and <a href="https://kotlinlang.org">Kotlin</a>. I keep dependencies low, mainly to reduce the surface area of my own mistakes.
        </p>
      </div>
    </div>
    
    <div class="tags-section">
      <h2 class="section-title">Tags</h2>
      <div class="tags-list">
        {{ range $name, $taxonomy := site.Taxonomies.tags }}
          <a class="tag-link" href="{{ "tags/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  
  <div class="home-right">
    {{ partial "home/sections.html" . }}
  </div>
</section>